header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw 0 8vw;
    font-size: calc(16px + 1vw);

    img{
        width: 12vh;
        object-fit: cover;
        cursor: pointer;
    }

    a{
        color: white;
        text-decoration: none;
        padding-left: 60px;
        font-size: 1em;

        &:hover{
            color: #0e0770;
        }
    }
}

@media (max-width:"992px"){
    
}

@media (max-width:"768px"){
    
}