header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw 0 8vw;
    font-size: calc(16px + 1vw);

    img{
        width: 12vh;
        object-fit: cover;
        cursor: pointer;
    }

    a{
        color: white;
        text-decoration: none;
        padding-left: 60px;
        font-size: 1em;

        &:hover{
            background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 6s ease-in-out infinite;
            background-size: 400% 100%;
        }
    }
}

@media (max-width:"992px"){
    
}

@media (max-width:"768px"){
    
}