<div class="footer" data-aos="zoom-in">
    <div class="container">
        <div class="pointer" routerLink="/imprint">
            Impressum - Legal Notice
        </div>
        <div class="pointer" routerLink="/data-protection">
            Datenschutz - Data protection
        </div>
    </div>

    <div class="img-container">
        <a href="https://github.com/nathanaeladam/"><img src="assets/img/github-fill.png"></a>
        <a href="https://www.linkedin.com/in/nathanaeladam/"><img src="assets/img/linkedin.png"></a>
        <a href="https://www.xing.com/profile/Nathanael_Adam/"><img src="assets/img/xing.png"></a>
    </div>
</div>