<div class="footer">
    <div class="container">
        <div class="pointer" routerLink="/imprint">
            Impressum - Legal Notice
        </div>
        <div class="pointer" routerLink="/data-protection">
            Datenschutz - Data protection
        </div>
    </div>

    <div class="img-container">
        <a href="https://github.com/nxnael/"><img src="assets/img/github-fill.png"></a>
        <a href="http://instagram.com/nxnael/"><img src="assets/img/instagram-logo.png"></a>
        <a href="https://twitter.com/nxnael/"><img src="assets/img/twitter-logo.png"></a>
    </div>
</div>