<div class="bg-grey about-me">
    <div class="top">
        <img src="assets/img/me.jpg">

        <div class="text-container">
            <h2>
                About me.
            </h2>
            <div>i am an enthusiastic bitcoiner and i love sports</div>
        </div>
    </div>

    <div class="bottom">
        <div class="some-about-me">
            <img src="assets/img/walk-line.png">
            <h3>hallo</h3>
            some aboute me jdskafjkladsjk 
        </div>
        <div class="some-about-me">
            <img src="assets/img/heart-line.png">
            <h3>Michele Adam</h3>
            some aboute me jdskafjkladsjk 
        </div>
        <div class="some-about-me">
            <img src="assets/img/search-line.png">
            <h3>hallo</h3>
            some aboute me jdskafjkladsjk 
        </div>
        <div class="some-about-me">
            <img src="assets/img/flight-takeoff-line.png">
            <h3>hallo</h3>
            some aboute me jdskafjkladsjk 
    

        </div>
</div>