<div class="bg-grey about-me">
    <div data-aos="fade-down-right" class="top">
        <img src="assets/img/mee.jpg">

        <div class="text-container">
            <h2>About me.</h2>
            <div class="text-sign-container">
                <span>I'm good at darts and creating web frontends.</span>
                <span class="sign">Nathanael Adam</span>
            </div>
        </div>
    </div>

    <div class="bottom" data-aos="flip-up">
        <div class="some-about-me">
            <img src="assets/img/heart-line.png">
            <h3>School</h3>
            I graduated from secondary school in 2016.
        </div>
        <div class="some-about-me">
            <img src="assets/img/walk-line.png">
            <h3>Training</h3>
            In 2019, I finished my training as a CNC milling cutter.
        </div>
        <div class="some-about-me">
            <img src="assets/img/search-line.png">
            <h3>Job</h3>
            Then I was responsible for programming CNC milling machines and ensuring that everything ran smoothly.
        </div>
        <div class="some-about-me">
            <img src="assets/img/flight-takeoff-line.png">
            <h3>Programming</h3>
            Over the last months, I built my front-end projects that include simple websites, complex business apps,
            and games based on OOP architecture
        </div>
    </div>