<div class="bg-grey about-me">
    <div class="top">
        <img src="assets/img/me.jpg">

        <div class="text-container">
            <h2>
                About me.
            </h2>
            <div>i am an enthusiastic bitcoiner and i love sports</div>
        </div>
    </div>

    <div class="bottom">
        <div class="some-about-me">
            <img src="assets/img/heart-line.png">
            <h3>school</h3>
            I graduated from secondary school in 2016.
        </div>
        <div class="some-about-me">
            <img src="assets/img/walk-line.png">
            <h3>training</h3>
            In 2019 I finished my training as a CNC milling cutter.
        </div>
        <div class="some-about-me">
            <img src="assets/img/search-line.png">
            <h3>job</h3>
            Then I was responsible for programming CNC milling machines and ensuring that everything ran smoothly.
        </div>
        <div class="some-about-me">
            <img src="assets/img/flight-takeoff-line.png">
            <h3>program</h3>
            I came across programming in 2021 and I'm happy to keep improving myself through a boot camp.
        </div>
    </div>