.homepage {
    padding: 25vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 90vw;
    width: 100%;
    word-wrap: break-word;
}

.homepage-top {
    display: flex;
    justify-content: space-between;

    .homepage-right {
        width: 50vw;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .homepage-left {
        width: 50vw;
        min-height: 70vh;
    }

    img {
        border-radius: 100%;
        width: 40vw;
        max-width: 60vh;
        height: width;
        object-fit: cover;
    }

    button {
        min-width: min(300px, 90vw);
        padding: 1em;
    }
}

.arrow {
    cursor: pointer;
    width: 54px;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover {
        width: 60px;
    }
}

@media (max-width: "1200px") {
    h1 {
        font-size: min(14vw, 60px);
        word-wrap: break-word !important;
        max-width: 90vw !important;
    }

    .homepage {
        padding: 5vw 5vw !important;
        min-height: unset !important;
    }

    .homepage-top {
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: center !important;

        .homepage-right {
            min-height: unset;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;

            img {
                width: 70vw !important;
            }
        }

        .homepage-left {
            min-height: unset;
            width: unset;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }
}

@media (max-width: "768px") {
}
