<div class="homepage">

    <div class="homepage-top">
        <div class="homepage-left">
            <!-- <h1>
                Hi, <br>

                I'm <span class="primary animation-2">Nathanael</span> Adam<br>

                Frontend-Develop<span class="secondary animation-1">e</span>r
            </h1> -->
            <h1>
                <span class="animation-1">H</span>
                <span class="animation-2">i</span>
                <span class="animation-1">,</span>
                <br>
                <span class="animation-2">I</span>
                <span class="animation-1">'</span>
                <span class="animation-2">m </span>
                <span class="animation-1">N</span>
                <span class="animation-2">a</span>
                <span class="animation-1">t</span>
                <span class="animation-2">h</span>
                <span class="animation-1">a</span>
                <span class="animation-2">n</span>
                <span class="animation-1">a</span>
                <span class="animation-2">e</span>
                <span class="animation-1">l </span>
                <span class="animation-2">A</span>
                <span class="animation-1">d</span>
                <span class="animation-2">a</span>
                <span class="animation-1">m</span>
                <br>
                <span class="animation-2">F</span>
                <span class="animation-1">r</span>
                <span class="animation-2">o</span>
                <span class="animation-1">n</span>
                <span class="animation-2">t</span>
                <span class="animation-1">e</span>
                <span class="animation-2">n</span>
                <span class="animation-1">d</span>
                <span class="animation-2">-</span>
                <span class="animation-1">D</span>
                <span class="animation-2">e</span>
                <span class="animation-1">v</span>
                <span class="animation-2">e</span>
                <span class="animation-1">l</span>
                <span class="animation-2">o</span>
                <span class="animation-1">p</span>
                <span class="animation-2">e</span>
                <span class="animation-1">r</span>
            </h1>


            <a href="#contactme" class="button2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Contact me
            </a>
        </div>

        <div class="homepage-right">
            <img src="assets/img/me.jpg">
        </div>
    </div>
</div>

<a href="#myskills"><img href="#myskills" class="arrow hide-mobile" src="assets/img/arrow.png"></a>