.homepage {
    padding: 120px 8vw 0px 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage-top {
    display: flex;
    justify-content: space-between;

    img {
        border-radius: 100%;
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    button {
        width: 300px;
        height: 80px;
    }
}

.arrow {
    cursor: pointer;
    width: 54px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0)
}