.homepage {
    padding: 25vh 8vw 0 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100vw;
}

.homepage-top {
    display: flex;
    justify-content: space-between;

    .homepage-right {
        width: 40vw;
        min-height: 70vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .homepage-left {
        width: 60vw;
        min-height: 70vh;
    }

    img {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        width: 40vw;
        max-width: 60vh;
        height: width;
        object-fit: cover;
    }

    button {
        min-width: min(300px, 90vw);
        height: 80px;
    }
}

.arrow {
    cursor: pointer;
    width: 54px;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.animation-1 {
    position: relative;
    animation: color-animation-1 5s infinite;
}

.animation-2 {
    position: relative;
    animation: color-animation-2 5s infinite;
}

@media (max-width: "992px") {
    h1 {
        font-size: min(14vw, 60px);
    }

    .homepage {
        padding: 5vw !important;
    }

    .homepage-top {
        display: flex !important;
        flex-direction: column-reverse !important;
        align-items: column !important;

        .homepage-right {
            min-height: unset;
            width: 90vw !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;

            img {
                width: 50vw !important;
            }
        }

        .homepage-left {
            min-height: unset;
            width: 90vw !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }
}

@media (max-width: "768px") {
}
