<div class="homepage">

    <div class="homepage-top">
        <div class="homepage-left">
            <h1>
                <span class="hover-big hover-secondary">H</span>
                <span class="hover-big hover-primary">i</span>
                <span class="hover-big hover-secondary">,</span>
                <br>
                <span class="hover-big hover-primary"> I</span>
                <span class="hover-big hover-secondary">'</span>
                <span class="hover-big hover-primary">m </span>
                <span class="hover-big hover-white primary">N</span>
                <span class="hover-big hover-white primary">a</span>
                <span class="hover-big hover-white primary">t</span>
                <span class="hover-big hover-white primary">h</span>
                <span class="hover-big hover-white primary">a</span>
                <span class="hover-big hover-white primary">n</span>
                <span class="hover-big hover-white primary">a</span>
                <span class="hover-big hover-white primary">e</span>
                <span class="hover-big hover-white primary">l </span>
                <span class="hover-big hover-primary"> A</span>
                <span class="hover-big hover-secondary">d</span>
                <span class="hover-big hover-primary">a</span>
                <span class="hover-big hover-secondary">m </span>
                <br>
                <span class="hover-big hover-primary">F</span>
                <span class="hover-big hover-secondary">r</span>
                <span class="hover-big hover-primary">o</span>
                <span class="hover-big hover-secondary">n</span>
                <span class="hover-big hover-primary">t</span>
                <span class="hover-big hover-secondary">e</span>
                <span class="hover-big hover-primary">n</span>
                <span class="hover-big hover-secondary">d</span>
                <span class="hover-big hover-primary">-</span>
                <span class="hover-big hover-secondary">D</span>
                <span class="hover-big hover-primary">e</span>
                <span class="hover-big hover-secondary">v</span>
                <span class="hover-big hover-primary">e</span>
                <span class="hover-big hover-secondary">l</span>
                <span class="hover-big hover-primary">o</span>
                <span class="hover-big hover-secondary">p</span>
                <span class="hover-big hover-white secondary">e</span>
                <span class="hover-big hover-secondary">r</span>
            </h1>


            <a href="#contactme" data-aos="fade-in">
                <button class="btn-primary">Contact me</button>
            </a>
        </div>

        <div data-aos="zoom-out-down" class="homepage-right">
            <img src="assets/img/me.jpg">
        </div>
    </div>
</div>

<a href="#myskills"><img href="#myskills" class="arrow hide-mobile" src="assets/img/arrow.png"></a>