<div class="homepage">

    <div class="homepage-top">
        <div class="homepage-left">
            <h1>
                Hi, <br>
                I'm <span class="primary">Nathanael</span> Adam<br>
                Frontend-Developer
            </h1>
            <button class="btn-primary">Contact me</button>
        </div>

        <div class="homepage-right">
            <img src="../../assets/img/me.jpg">
        </div>
    </div>
</div>

<a href="#myskills"><img href="#myskills" class="arrow" src="../../assets/img/arrow.png"></a>