<div class="my-work bg-black">
    <h2 data-aos="fade-down-left">My work</h2>

    <div data-aos="fade-down-right" class="selection-container">
        <a (click)="showAll()" class="btn-secondary" [class.aktive]="aktiveButton ===1">
            All
        </a>
        <a (click)="show1()" class="btn-secondary" [class.aktive]="aktiveButton ===2">
            Java script
        </a>
        <a (click)="show2()" class="btn-secondary" [class.aktive]="aktiveButton ===3">
            Angular
        </a>
    </div>

    <div class="imgs-container" data-aos="flip-up">

        <a *ngIf="showAngular" href="https://ring-of-fire-2d985.firebaseapp.com"><img
                src="assets/img/project-ringoffire.png">
            <div class="tooltip-container">
                <span><b>Ring Of Fire</b></span>
                <span>Angular-based web-app of the popular drinking game.</span>
                <span>____________________</span>
                <span>Try it yourself.</span>
            </div>
        </a>
        <a *ngIf="showJavascript" href="https://snake.nathanaeladam.de"><img
                src="assets/img/project-snake.png">
            <div class="tooltip-container">
                <span><b>Snake Game</b></span>
                <span>The original snake as Java script based game.</span>
                <span>____________________</span>
                <span>Try it yourself.</span>
            </div>
        </a>
        <a *ngIf="showJavascript" href="https://crm.nathanaeladam.de"><img
            src="assets/img/project-snake.png">
        <div class="tooltip-container">
            <span><b>crm</b></span>
            <span>crm.</span>
            <span>____________________</span>
            <span>Try it yourself.</span>
        </div>
    </a>
    </div>
</div>