.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;

    h2{
        padding: 8vh 0 8vh;
    }

    .imgs-container{
        width: min(60vw, 900px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img{
            width: 100%;
            margin-bottom: 2.4vw;
            object-fit: cover;
            cursor: pointer;

            &:hover{
                filter: brightness(0.7);
            }
        }
    }
}

@media (max-width: "992px"){
    h2{
        padding: 10vh 0 !important;
    }

    .my-work{
        .imgs-container{
            width: 80vw !important;
            img{
                width: 100% !important;
                margin-bottom: 7vw;
            }
        }
    }
}

@media (max-width:"768px"){
    
}