<div class="my-work bg-black">
    <h2>My work</h2>

    <!-- <div class="links-container">
        <button class="btn-secondary">All</button>
        <button class="btn-secondary">Angular</button>
        <button class="btn-secondary">Java Script</button>
    </div> -->

    <div class="imgs-container">
            <a href="http://nathanael-adam.developerakademie.com/ringoffire/"><img src="assets/img/project-ringoffire.png"></a>
            <a href="http://nathanael-adam.developerakademie.com/lieferando/"><img src="assets/img/project-lieferando.png"></a>
            <a href="http://nathanael-adam.developerakademie.com/instagram/"><img src="assets/img/project-instagram.png"></a>
            <a href="http://nathanael-adam.developerakademie.com/tictactoe/"><img src="assets/img/project-tictactoe.png"></a>
            <a href="http://nathanael-adam.developerakademie.com/tictactoe/"><img src="assets/img/project-tictactoe.png"></a>
            <a href="http://nathanael-adam.developerakademie.com/quizapp/"><img src="assets/img/project-quizapp.png"></a>
    </div>
</div>