.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;

    h2 {
        padding: 8vh 0 8vh;
    }

    .selection-container {
        display: flex;
        color: white;
        justify-content: center;
        margin-bottom: 3em;
    }

    .imgs-container {
        width: min(80vw, 1000px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            width: min(38vw, 480px) !important;
            margin-bottom: 2.4vw;
            object-fit: cover;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}

.aktive{
    background-color: #fa2759;
}

@media (max-width: "992px") {
    h2 {
        padding: 10vh 0 !important;
    }

    .my-work {
        .imgs-container {
            width: 80vw !important;
            img {
                width: 100% !important;
                margin-bottom: 7vw;
            }
        }

        .selection-container{
            display: flex !important;

            a{
                margin: 5px !important;
            }
        }
    }
}

@media (max-width: "768px") {
}
