<div class="bg-black contact-me">
    <form data-aos="fade-down-left" class="container" action="https://nathanaeladam.de/send_mail.php" method="POST">
        <h2 class="secondary">Contact me.</h2>
        <div>Get in touch via the form below, or by emailing <span class="secondary">&nbsp;hello@nathanaeladam.de
            </span></div>
        <h3>Name</h3>
        <input name="name" type="text" required placeholder="Enter your name">
        <h3>Email address</h3>
        <input name="email" type="email" required placeholder="Enter your Email address">
        <h3>Message</h3>
        <input name="message" class="textarea" type="text" required placeholder="Enter your message">

        <div class="btn-container">
            <button type="submit" class="btn-primary">send</button>
        </div>
    </form>

</div>