<div class="bg-black contact-me">
    <form class="container" action="http://nathanael-adam.developerakademie.com/send_mail/send_mail.php" method="POST">
        <h2 class="secondary">Contact me.</h2>
        <div>Get in touch via the form below, or by emailing <span class="secondary">&nbsp;hello@nathanaeladam.de </span></div>
    
        
        <h3>Name</h3>
        <input type="text" required placeholder="Enter your name">
        <h3>Email address</h3>
        <input type="email" required placeholder="Enter your Email address">
        <h3>Message</h3>
        <input class="textarea" type="text" required placeholder="Enter your message">
        
        <div class="btn-container">
            <button type="submit" class="btn-primary">send</button>
        </div>
    </form>

</div>