<div class="bg-grey my-skills">
    <h2>MY Skills</h2>

    <div class="skill-container">
        <div class="skill-box">
            <img src="../../assets/img/java script.png">
            <img class="circle" src="../../assets/img/circle.png">
            Java Script
        </div>

        <div class="skill-box">
            <img src="../../assets/img/angular-II.png">
            <img class="circle" src="../../assets/img/circle.png">
            Angular
        </div>

        <div class="skill-box">
            <img src="../../assets/img/Group 205.png">
            <img class="circle" src="../../assets/img/circle.png">
            HTML / CSS
        </div>

        <div class="skill-box">
            <img src="../../assets/img/Group 226.png">
            <img class="circle" src="../../assets/img/circle.png">
            SCRUM
        </div>

        <div class="skill-box">
            <img src="../../assets/img/Git-Icon-1788C 2.png">
            <img class="circle" src="../../assets/img/circle.png">
            Git
        </div>

        <div class="skill-box">
            <img src="../../assets/img/Group.png">
            <img class="circle" src="../../assets/img/circle.png">
            Design Thinking
        </div>

        <div class="skill-box">
            <img src="../../assets/img/icons8-rest-api-80 2.png">
            <img class="circle" src="../../assets/img/circle.png">
            Rest API
        </div>

        <div class="skill-box">
            <img src="../../assets/img/icons8-test-lab-96 2.png">
            <img class="circle" src="../../assets/img/circle.png">
            Test automation
        </div>

        <div class="skill-box">
            <img src="../../assets/img/icons8-database-52 2.png">
            <img class="circle" src="../../assets/img/circle.png">
            Databases
        </div>
    </div>
</div>