.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: min-content !important;
    word-wrap: break-word;
    hyphens: auto;

    h2 {
        margin: 0;
        padding: 15vh 0;
        font-size: 5vh;
    }

    .skill-container {
        width: 50vw;
        height: 80vh;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .skill-box {
            font-size: min(3vh, 20px);
            width: 28%;
            min-height: 23%;
            margin-bottom: 8%;
            background-color: white;
            border-radius: 6%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 18%;
                height: width;
                object-fit: cover;
                z-index: 1;
            }

            .circle{
                width: 30%;
                height: width;
                z-index: 0;
            }
        }
    }
}

@media (max-width:"992px"){
    .my-skills{
        height: min-content !important;

        h2 {
            padding: 13vh 0;
            font-size: 5vh;
        }

        .skill-container{
            font-size: min(5vw, 18px);
            display: flex;
            height: min-content !important;
            justify-content: center;

            .skill-box{
                font-size: min(5vw, 18px);
                display: flex !important;
                width: 90vw !important;
                border-radius: 40px !important;
                height: 80px !important;

                img{
                    width: 50px !important;

                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translate(-50%, -50%);
                    height: width;
                    object-fit: cover;
                    z-index: 1;
                }

                .circle{
                    width: 0 !important;
                }
            }
        }
    }
}

@media (max-width:"768px"){
    
}