<div lang="de" class="my-skills bg-grey">
    <h2 data-aos="flip-right">My Skills</h2>

    <div class="skill-container">
        <div data-aos="flip-right" class="skill-box">
            <img src="assets/img/java script.png">
            <img class="circle" src="assets/img/circle.png">
            HTML & CSS
        </div>

        <div data-aos="flip-right" class="skill-box">
            <img src="assets/img/angular-II.png">
            <img class="circle" src="assets/img/circle.png">
            Angular
        </div>

        <div data-aos="flip-right" class="skill-box">
            <img src="assets/img/javascript.png">
            <img class="circle" src="assets/img/circle.png">
            Java Script
        </div>

        <div data-aos="flip-left" class="skill-box">
            <img src="assets/img/Group 226.png">
            <img class="circle" src="assets/img/circle.png">
            SCRUM
        </div>

        <div data-aos="flip-right" class="skill-box">
            <img src="assets/img/Git-Icon-1788C 2.png">
            <img class="circle" src="assets/img/circle.png">
            Git
        </div>

        <div data-aos="flip-right" class="skill-box">
            <img src="assets/img/icons8-rest-api-80 2.png">
            <img class="circle" src="assets/img/circle.png">
            Rest API
        </div>
    </div>
</div>