<app-header></app-header>
<app-mobile-header></app-mobile-header>
<div class="imprint" lang="de">
<h1 >Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Nathanael Adam<br />
    Alwin-Lonke-Stra&szlig;e, 61<br />
    28719 Bremen</p>

<h2>Kontakt</h2>
<p>Telefon: 017641571999<br />
    E-Mail: nathanaeladam3@gmail.com</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</div>
<app-footer></app-footer>