.imprint{
    background-color: black;
    padding: 20vh 15vw;
    min-height: 100vh;
}
@media (max-width:"992px"){
    .imprint{
        padding: 5vw !important;
        width: 90vw !important;

        h1{
            font-size: 12vw;
        }
    }
}

@media (max-width:"768px"){
    
}