.data-protection{
    word-wrap: break-word;
    background-color: black;
    padding: 20vh 15vw;
    min-height: 100vh;
    hyphens: auto;
}


@media (max-width:"992px"){
    
}

@media (max-width:"768px"){
    
}