html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

// /////////////////////////       Inter  /////////////////////

h1 {
  font-size: 10vh;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 18px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 4vh;
}

///////////////////////////// Color   /////////////////////////@at-root

.primary {
  color: #fa2759;
}

.secondary {
  color: #2dfcd8;
}

.grey {
  color: #1a1a1a;
}

.black {
  color: black;
}

/////////////////// Backgrounds   /////////////////////

.bg-black {
  background-color: #000000;
}

.bg-grey {
  background-color: #1a1a1a;
}

////////////////////// Buttons   ///////////////////////////

.btn-primary {
  padding: 2% 7%;
  margin-top: 1em;
  background-color: transparent;
  color: #2dfcd8;
  border: 3px solid #2dfcd8;
  font-weight: bold;
  border-radius: 3px;

  &:hover {
    background-color: #2dfcd8;
    color: black;
  }
}

.btn-secondary {
  padding: 2% 7%;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fa2759;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px;

  &:hover {
    color: #fff;
    background-color: #fa2759;
  }
}

.pointer {
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

@media (max-width: "992px") {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: flex !important;
  }
}

/////// tooltip design /////////////////////////////

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #fa2759;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;

  /* Position the tooltip */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/////// text hover /////////////////////////


.hover-big {
  &:hover {
    font-size: 130% !important;
  }
}


.hover-white{
  &:hover{
    color: #fff !important;
  }
}

.hover-primary {
  &:hover {
    color: #fa2759 !important;
  }
}

.hover-secondary {
  &:hover {
    color: #2dfcd8 !important;
  }
}